body{padding:0; margin:0; font-size:84%; background:#eeeeee; color:#333333; font-family:'ו',Verdana, Geneva, sans-serif;}
ul,li,form,h1,h2,h3,h4,h5,h6,p{padding:0; margin:0; list-style-type:none;}
i,cite{font-style:normal;}
a{color:#34538b; text-decoration:underline;}a:hover{color:#F30; text-decoration:underline;}
.zxx_out_box{width:70%; min-width:700px; border-left:1px solid white; border-right:1px solid white; margin:0 auto;}
.zxx_in_box{min-height:550px; _height:550px; border-left:1px solid #cccccc; border-right:1px solid #cccccc; background:white; padding:1em 2.5em 0;}
.zxx_title{font-size:1.6em; text-align:center; margin:20px 0;}
.zxx_main_con{padding:0 20px 20px;}
.zxx_test_list{padding:1em; font-size:1.1em; line-height:1.4; overflow:hidden; zoom:1; margin-top: 100px; }

